############################################################
# Java
############################################################
*.class

############################################################
# Maven
############################################################
target/

############################################################
# Eclipse
############################################################
bin/
.settings/
.project
.classpath

############################################################
# FIS-specific
############################################################
db/
tests.log
